#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 13rem;
}

.skillTittle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    width: 80%;
}

.skillDesc {
    font-size: 1rem;    
    max-width: 60rem;
    padding: 1rem;
    background: rgb(246, 246, 246);
    width: 80%;
    color: black;
}

.skillBars {
    margin: 3rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    display: flex;
}

.skillBarsss {
    margin-top: 1rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    display: flex;
}

.skillBar {
    width: 25rem;
    height: 20rem;
    background: rgb(56, 56, 60);
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgb(116, 116, 116);
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
}

.skillBarText>h2 {
    margin-bottom: 1rem;
}


.skillBarText>p {
    font-size: 1rem;
    font-weight: 200;
}

@media screen and (max-width:720px) {
    .skillBarText>p {
        font-size: 2vw;
    }
}

@media screen and (max-width:480px) {
    .skillBarText>p {
        font-size: 3vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.23rem;
    }
    .skillBarText>h2 {
        font-size: 5vw;
    }
}