#intro {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.hiasan {
    width: 80vh;
    position: absolute;
    top: -10rem;
    right: 0;
    z-index: -1;
    object-fit: contain;
    height: 150vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem ;
    font-size: 5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 2rem;
    font-weight: 100;
}

.introName {
    color: gray;
}

.introPara {
    font-size: 15px;
    font-weight: 200;
}

.btn {
    background-color: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;

}

.slogan {
    font-size: 3rem;
}

/* .garisBatas {
    width: 100%;
    margin: 1rem 1rem;
    background: rgb(217, 214, 214);
} */

@media  screen and (max-width:810px) {
    .bg {
        right: -10vw;
    }

    .introContent {
        font-size: 10vw;
    }
    .hello {
       font-size: 4.5vw; 
    }
}

@media  screen and (max-width:428px) {
    .bg {
        right: -20vw;
    }
}
