.navbar {
    background: rgb(27, 26, 26);
    height: 5rem;
    width: 100%;
    /* margin: 1rem 2rem; */
    /* max-width: 90rem; */
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    height: 4rem;
    width: 5rem;
}

.desktopMenuItem {
    color: white;
    margin: 0;
    padding: 0 0.8rem;
    cursor: pointer;
}

.desktopMenuItem:hover {
    color: grey;
    padding-bottom: 0.5rem;
}

.desktopMenuBtn {
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}
.desktopMenuImg{
    object-fit: contain;
    /* height: 2rem;
    width: 2rem; */
    width: 30px;
} 

.active {
    color: grey;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid grey;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30,30,30);
}

li {
    list-style: none;
    display: flex;
    float: left;
    margin: 0 1rem;
}


.dropdownItem a {
    transition: var(--speed);
    padding: 8px 13px;
    display: block;
}

.dropdown-menu {
    top: 70px;
    left: 41vw;
    background-color: white;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    width: 15rem;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    
}

.dropdownItem:hover  {
    background-color: rgb(112, 111, 109);
    color: white;
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdownItem {
    color: black;
    
}


@media screen and (max-width:720px) {
    .mobMenu{
        display: flex;
    }
    .desktopMenu{
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
}
